.container{
    background-color: cadetblue;
    display: flex;
    
    justify-content:center;
    height: 400px;
    flex-wrap:wrap;
   align-items: center;
    
}
.one,.two,.three,.four{
    flex: 1;
    width: 300px;
    height:200px;
    background-color: tomato;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    
}
.three{
    flex: 1;
}